system {
    host-name spine2;
    domain-name lab.local;
    services {
        ssh;
    }
    root-authentication {
        encrypted-password "$ABC123"; ## SECRET-DATA – Insert actual encrypted root password here
    }
}

interfaces {
    lo0 {
        unit 0 {
            family inet {
                address 2.1.3.2/32;
            }
        }
    }
    xe-0/0/0 { ## Assumed mapping for GigabitEthernet0/0
        mtu 1514; ## Default MTU size for Gigabit Ethernet
        unit 0 {
            family inet {
                address 2.23.22.3/24;
            }
        }
    }
    xe-0/0/1 { ## Assumed mapping for GigabitEthernet1/0
        mtu 1514;
        unit 0 {
            family inet {
                address 2.23.12.3/24;
            }
        }
    }
    xe-0/0/2 { ## Assumed mapping for GigabitEthernet2/0
        mtu 1514;
        unit 0 {
            family inet {
                address 2.34.201.3/24;
            }
        }
    }
    ## Add configurations for any other interfaces
}

protocols {
    bgp {
        group as2-peers {
            type internal;
            local-address 2.1.3.2;
            family inet {
                unicast;
            }
            cluster 2.1.3.2;
            neighbor 2.1.2.1;
            neighbor 2.1.2.2;
        }
        group dept-peers {
            type external;
            peer-as 65001;
            neighbor 2.34.201.4;
        }
    }
    ospf {
        area 1 {
            interface lo0.0 {
                passive;
            }
            interface xe-0/0/0.0;
            interface xe-0/0/1.0;
            interface xe-0/0/2.0;
        }
    }
}

routing-options {
    router-id 2.1.3.2;
    autonomous-system 2;
    static {
        route 2.128.0.0/16 reject;
    }
}

policy-options {
    community dept_community members "65001:*";
    policy-statement as2_to_dept {
        term 1 {
            from community dept_community;
            then {
                local-preference 350;
                next term;
            }
        }
    }
    policy-statement dept_to_as2 {
        term 1 {
            from {
                route-filter 1.0.1.0/24 orlonger;
                route-filter 1.0.2.0/24 orlonger;
                route-filter 3.0.1.0/24 orlonger;
                route-filter 3.0.2.0/24 orlonger;
            }
            then {
                metric 50;
                community set dept_community;
                accept;
            }
        }
    }
    ## Define additional policy-options for BGP route-maps if necessary
}

firewall {
    /* BGP dampening can be implemented as needed */
}